<!-- Match Section Begin -->
<section class="match-section set-bg" data-setbg="assets/template/images/match/match-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ms-content">
          <h4 style="color: black; text-align: center">List Joueur de la club {{club}}</h4>
          <div class="">
            <input type="text" name="club" id="club" placeholder="FirstName">
            <input type="text" name="club" id="club" placeholder="LastName">
             <button type="button"
              class="btn btn-secondary">Search</button> <br> <br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Photo</th>
                  <th scope="col">FirstName</th>
                  <th scope="col">LastName</th>
                  <th scope="col">Age</th>
                  <th scope="col">Nationality</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td>Lionel</td>
                  <td>Messi</td>
                  <td>29</td>
                  <td>Argentin</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td>Cristiano</td>
                  <td>Renaldo</td>
                  <td>30</td>
                  <td>Argentin</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td>Lionel</td>
                  <td>Messi</td>
                  <td>29</td>
                  <td>Argentin</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td>Lionel</td>
                  <td>Messi</td>
                  <td>29</td>
                  <td>Argentin</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>