<!-- Match Section Begin -->
<section class="match-section set-bg" data-setbg="assets/template/images/match/match-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ms-content">
          <h4 style="color: black; text-align: center"> of sport {{sport}}</h4>
          <div class="">
            <input type="text" name="club" id="club" placeholder="search club"> <button type="button" class="btn btn-secondary">Search</button> <br> <br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">name</th>
                  <th scope="col">Nb Joueurs</th>
                  <th scope="col">Entraineur</th>
                  <th scope="col">President</th>
                  <th scope="col">Joueurs</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let club of clubs; let i = index">
                  <th scope="row">1</th>
                  <td>{{ club.equipe.value.split('#')[1]}}</td>
                  <td>11</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                  <td><a type="button" class="btn btn-primary" [routerLink]="['/joueur',  club.equipe.value.split('#')[1]]">Visit</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
